<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- ==== Redis连接 -->
    <add key="RedisConnectionString" value="172.31.27.21:6379,password=!!22qq2017,allowAdmin=true,abortConnect=false"/>
  </appSettings>
</configuration>