################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Helper/bin
/Helper/obj
/NetWork/bin
/NetWork/obj
/packages
/RedisTool/bin
/RedisTool/obj
/SqlTool/bin
/SqlTool/obj
/Tool/bin
/Tool/obj
/.vs
